extends ./layout.pug
prepend head
  title Tweet Counter
append body
    div#container
      span#status App status: 
        span#percent-capacity
        |  available.
      div#input
        ul
          li
            label(for="user") user: 
            input#user(type="text")
          li
            label(for="startdate") start date: 
            input#startdate(type="date")
          li
            label(for="enddate") end date: 
            input#enddate(type="date")
        input#submit(type="button" value="Count Tweets")
        div#loading
          - for (var i = 0; i < 6; i++)
            div(class="blob blob-" + i)
      div#output
        ul
          li
            label user: 
            span#display-user
          li
            label Start Date: 
            span#display-startdate
          li
            label End Date: 
            span#display-enddate
          li
            label Total Days: 
            span#display-totaldays
          li
            label Tweets: 
            span#display-tweets
          li
            label Tweets/Day: 
            span#display-average
append footer
  script(src="/functions.js" type="text/javascript")