html
  head
    title Tweet Counter
    link(href="/style.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(rel="shortcut icon" href="https://cdn.glitch.com/c1e498e8-b00c-4434-9d0e-4043a384ed2f%2Ffavicon.ico?1504902692759")
    
  body
    div#container
      div#input
        ul
          li
            label(for="user") user: 
            input#user(type="text")
          li
            label(for="startdate") start date: 
            input#startdate(type="date")
          li
            label(for="enddate") end date: 
            input#enddate(type="date")
        input#submit(type="button" value="Count Tweets")
      div#output
        ul
          li
            label user: 
            span#display-user
          li
            label Start Date: 
            span#display-startdate
          li
            label End Date: 
            span#display-enddate
          li
            label Total Days: 
            span#display-totaldays
          li
            label Tweets: 
            span#display-tweets
          li
            label Tweets/Day: 
            span#display-average
    p#disclaimer: span Includes retweets
      span | Cannnot count protected users' tweets
      span | May differ from actual count on twitter.com
      span | Limited to 100 requests per minute, 1 request is 200 or fewer tweets
      span | All dates Noon Eastern
      span | Contribute on 
        a(href="https://github.com/mark20044/tweet-counter") GitHub
    script(src="/functions.js" type="text/javascript")