doctype html
html
  block head
    head
      title Tweet Counter - #{title}
      block links
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="/style.css" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
        link(rel="shortcut icon" href="https://cdn.glitch.com/c1e498e8-b00c-4434-9d0e-4043a384ed2f%2Ffavicon.ico?1504902692759")
      block metatags
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="google-site-verification" content="sdfa8WfOow3S1eKW4Cmlf6g3xI7ke4EiRVOyb0UX-Gg")
      block scripts
        script
          | window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          | ga('create', '#{gaCode}', 'auto');
          | ga('send', 'pageview');
        script(async src='https://www.google-analytics.com/analytics.js')
        script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        script
          | (adsbygoogle = window.adsbygoogle || []).push({
          | google_ad_client: "#{adCode}",
          | enable_page_level_ads: true
          | });
    block body
      body
        div#title
          h1 Tweet Counter
          h2 #{title}
    block footer
      div#footer 
        span#about
          span: a(href="/about") About the Author
          span | 
            a(href="/faq") Frequently Asked Questions
          span: article | Tweet Counter returns the total number of tweets (including retweets) by a user in a specified span of time.
        span#contribute Contribute on 
          a(href="https://github.com/mark20044/tweet-counter" target="_blank") GitHub
      