html {
  font-family: Raleway, Arial, sans-serif;
  color: #3f3f1f;
}

#status {
  font-size: .75em;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: -6px 0 6px;
}

#status:before {
  font-family: FontAwesome;
  margin-right: 5px;
}

#status.ok:before {
  content: "\f0aa";
  color: #4c4;
}

#status.heavy:before {
  content: "\f071";
  color: orange;
}

#status.overloaded:before {
  content: "\f0ab";
  color: red;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
}

#container {
  width: 280px;
  margin-top: 35px;
  margin-left: calc( 50% - 156px );
  background: #e0efff;
  padding: 15px;
  border: 1px solid #1da1f2;
  border-radius: 8px;
  box-shadow: -1px 1px 1px #ddd
}

#container li {
  border-bottom: 1px dotted #fff;
}

label {
  padding: 5px 5px 0 0;
  margin-right: 15px;
  display: inline-block;
  width: 100px;
  text-align: right;
}

input {
  font-family: Raleway, Arial, sans-serif;
  width: 152px;
}

#user {
  border: 1px solid #aaa;
  padding: 3px 1px;
}

#input {
  padding-bottom: 11px;
  margin-bottom: 2px;
  border-bottom: 1px solid #1da1f2;
}

#submit {
  margin-top: 13px;
  margin-left: calc(100% - 160px);
  -webkit-appearance: none;
  color: white;
  background: #1da1f2;
  border: none;
  padding: 9px;
  border-radius: 8px;
  cursor: pointer;
  font-family: Raleway, Arial, sans-serif;
  box-shadow: -2px 2px 1px #ddd;
  
}

#submit:active {
  box-shadow: none;
}

#submit:focus {
  outline: none;
}

#output label {
  margin-left: 30px;
}

#disclaimer {
  font-size: .75em;
  position: absolute;
  bottom: 1.5%;
}

@media only screen and (max-height: 500px) {
    #disclaimer {
        top: 100%;
    }
}

#disclaimer span {
  display: inline-block;
  margin-left: 3px;
  margin-top: 7px;
}

#loading {
  position: relative;
  height: 40px;
  margin-top: 7px;
  display: none;
}

.loading #loading {
  display: block;
}

.loading #submit {
  display: none;
}

/* Loading animation courtesy of Joe Harry https://codepen.io/woodwork/pen/YWjWzo */
.blob {
    width: 2rem;
    height: 2rem;
    background: rgba(29, 161, 242, .85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 { animation: animate-to-2 1.5s infinite; }
.blob-3 { animation: animate-to-3 1.5s infinite; }
.blob-1 { animation: animate-to-1 1.5s infinite; }
.blob-4 { animation: animate-to-4 1.5s infinite; }
.blob-0 { animation: animate-to-0 1.5s infinite; }
.blob-5 { animation: animate-to-5 1.5s infinite; }

@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}